<h1 class="titre">Hypothèse</h1>
<div>
    <h3>Personnages</h3>
    <select name="character" id="character" size="1" class="margin-left">
        {% for paque_carte_character in ListOfAllCards.pack %}
            {% if paque_carte_character.type == "character" %}
                <OPTION>{{ paque_carte_character.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <h3>Armes</h3>
    <select name="weapon" id="weapon" size="1" class="margin-left">
        {% for paque_carte_weapon in ListOfAllCards.pack %}
            {% if paque_carte_weapon.type == "weapon" %}
                <OPTION>{{ paque_carte_weapon.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <h3>Lieux</h3>
    <select name="room" id="room" size="1" class="margin-left">
        {% for paque_carte_room in ListOfAllCards.pack %}
            {% if paque_carte_room.type == "room" %}
                <OPTION>{{ paque_carte_room.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="margin-top">
    <a href="#" style="height : 100%;">
        <button class="ui right labeled icon button" onclick="HypoCall()">
            <i class="right arrow icon"></i>
            Formuler cette hypothèse
        </button>
    </a>
</div>