<h1 class="titre">Carte reçu</h1>
<div id="TextDisplay"></div>
<h1 class="titre">Carte à montrer</h1>
<div id="ButtonDisplay"></div>


<script src="../socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8080');

    var MyUuiD = "{{- MyUuiD|escape("js") -}}";

    socket.on('SearchPlayerForDisplaySelectedCards', test => {
        let Card = "";
        if (test == MyUuiD) {
            socket.emit('ItsMe', test);
            socket.on("CardExchange", CardExchange => {
                CardExchange.forEach(function (element) {
                    StrCard = element.split(',')[0];
                    Card += "<button class='ui left labeled icon button' onclick='SelectedCardExchange(" + "\"" + StrCard + "\"" + ")'>" +
                            "   <i class='right arrow icon'></i>" +
                                StrCard + 
                            "</button>" +
                            "<br>";
                });
                $('#ButtonDisplay').empty().prepend(Card);
            });
        }
    });

    socket.on('SearchPlayerForDisplayCard', test => {
        if (test == MyUuiD) {
            socket.emit('GetCard', test);
            socket.on("SeeCardFromPlayer", SeeCard => {
                $('#TextDisplay').append("<p>"+SeeCard+"</p>");
            });
        }
    });

    function SelectedCardExchange(StrCard) {
        socket.emit('SeeCard', StrCard);
        $('#ButtonDisplay').empty();
    }
</script>