<h1 class="titre">Carte reçu</h1>

<h1 class="titre">Carte à montrer</h1>

<script src="../socket.io/socket.io.js"></script>
<script>
    //var socket = io.connect('http://192.168.1.45:8080');
    var socket = io.connect('http://192.168.1.52:8080');

    var MyUuiD = "{{- MyUuiD|escape("js") -}}";

    socket.on('SearchClient', test => {
        if (test == MyUuiD) {
            socket.emit('ItsMe',test);
            socket.on("CardExchange", CardExchange => {
                console.log(CardExchange);
            });
        }
    });
</script>