<h1 class="titre">Vos Cartes</h1>
{% for card in cartes %}
    <img src="/assets/images{{card.imagePath}}" style="padding : 2px">
{% endfor %}
<br/>
<br/>
{% for card in cartes %}
    <li>{{ card.label }}</li>
{% endfor %}