<h1 class="titre">Vos Cartes</h1>
{% for card in cards.cartes %}
    <img src="/assets/images/{{card.image}}" style="padding : 2px">
{% endfor %}
 <br/>
<br/>
 {% for card in cards.cartes %}
    <li>{{ card.label }}</li>
{% endfor %} 