<h1 class="titre">Dés</h1>
<h3> 0 : 0 </h3>
<div class="margin-top">
    <a href="#" style="height : 100%;">
        <button class="ui left labeled icon button" onclick="rollTheDice()">
            <i class="right arrow icon"></i>
            Lancer les dés
        </button>
    </a>
</div>