<div class="margin-top">
    <a href="#" style="height : 100%;">
        <button class="ui left labeled icon button" onclick="HypoCall()">
            <i class="right arrow icon"></i>
            Lancer les dés
        </button>
    </a>
</div>