<h1 class="titre">Dés</h1>
<h3>
    0 : 0
</h3>
<div class="margin-top">
    <a href="#" style="height : 100%;">
        <button class="ui left labeled icon button" onclick="rollTheDice()">
            <i class="right arrow icon"></i>
            Lancer les dés
        </button>
    </a>
</div>

<script src="../socket.io/socket.io.js"></script>
<script>
    function rollTheDice() {
        var socket = io.connect('http://localhost:8080');
        socket.on('connect', (data) => {
            socket.emit('rollTheDice');
        });
    }
</script>