<div class="center">
    <div class="suspect">
        <h1 class="titre">Suspect</h1>
        {% for pack_card_character in ListOfAllCards.pack %}
            {% if pack_card_character.type == "character" %}
                <div class="ui checkbox">
                    <input type="checkbox">
                    <label id="label">{{ pack_card_character.label }}</label>
                </div>
            </br>
        {% endif %}
    {% endfor %}
</div>

<div class="armes">
    <h1 class="titre">Armes</h1>
    {% for pack_card_weapon in ListOfAllCards.pack %}
        {% if pack_card_weapon.type == "weapon" %}
            <div class="ui checkbox">
                <input type="checkbox">
                <label id="label">{{ pack_card_weapon.label }}</label>
            </div>
        </br>
    {% endif %}
{% endfor %}
</div>

<div class="lieux">
<h1 class="titre">Lieux</h1>
{% for pack_card_room in ListOfAllCards.pack %}
    {% if pack_card_room.type == "room" %}
        <div class="ui checkbox">
            <input type="checkbox">
            <label id="label">{{ pack_card_room.label }}</label>
        </div>
    </br>
{% endif %}
{% endfor %}
</div>

<h1 class="titre">Notes</h1>
<div class="ui input notes">
<input placeholder="" type="text">
</div>
</div>