<h1 class="titre">Hypothèse</h1>
<div>
    <h3>Personnages</h3>
    <select id="Hypothesis_character" size="1" class="margin-left">
        {% for pack_carte_character in ListOfAllCards.pack %}
            {% if pack_carte_character.type == "character" %}
                <OPTION>{{ pack_carte_character.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <h3>Armes</h3>
    <select id="Hypothesis_weapon" size="1" class="margin-left">
        {% for pack_carte_weapon in ListOfAllCards.pack %}
            {% if pack_carte_weapon.type == "weapon" %}
                <OPTION>{{ pack_carte_weapon.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <h3>Lieux</h3>
    <select id="Hypothesis_room" size="1" class="margin-left">
        {% for pack_carte_room in ListOfAllCards.pack %}
            {% if pack_carte_room.type == "room" %}
                <OPTION>{{ pack_carte_room.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>

<div class="margin-top">
    <a href="#" style="height : 100%;">
        <button class="ui left labeled icon button" onclick="CallHypothesis('{{MyUuiD}}')">
            <i class="right arrow icon"></i>
            Formuler cette hypothèse
        </button>
    </a>
</div>
<h3 id="LogErrorHypo"></h3>

<script src="../socket.io/socket.io.js"></script>
<script>
    function CallHypothesis(MyUuiD) {
        //var socket = io.connect('http://localhost:8080');
        var socket = io.connect('http://192.168.1.45:8080');
        var HypothesisCallGetChar = document.getElementById("Hypothesis_character");
        var HypothesisCallGetWeapon = document.getElementById("Hypothesis_weapon");
        var HypothesisCallGetRoom = document.getElementById("Hypothesis_room");

        var Hypothesis_character = HypothesisCallGetChar.options[HypothesisCallGetChar.selectedIndex].text;
        var Hypothesis_weapon = HypothesisCallGetWeapon.options[HypothesisCallGetWeapon.selectedIndex].text;
        var Hypothesis_room = HypothesisCallGetRoom.options[HypothesisCallGetRoom.selectedIndex].text;

        socket.on('connect', (data) => {
            socket.emit('Hypothesis', [[MyUuiD], [Hypothesis_character, Hypothesis_weapon, Hypothesis_room]]);
            socket.on("LogErrorHypo", error => {
                $('#LogErrorHypo').empty().prepend(error);
            });
        });
    }
</script>