<h1 class="titre">Hypothèse</h1>
<div>
    <h3>Personnages</h3>
    <select name="character" id="character" size="1" class="margin-left">
        {% for pack_carte_character in ListOfAllCards.pack %}
            {% if pack_carte_character.type == "character" %}
                <OPTION>{{ pack_carte_character.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <h3>Armes</h3>
    <select name="weapon" id="weapon" size="1" class="margin-left">
        {% for pack_carte_weapon in ListOfAllCards.pack %}
            {% if pack_carte_weapon.type == "weapon" %}
                <OPTION>{{ pack_carte_weapon.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <h3>Lieux</h3>
    <select name="room" id="room" size="1" class="margin-left">
        {% for pack_carte_room in ListOfAllCards.pack %}
            {% if pack_carte_room.type == "room" %}
                <OPTION>{{ pack_carte_room.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="margin-top">
    <a href="#" style="height : 100%;">
        <button class="ui left labeled icon button" onclick="CallHypothesis()">
            <i class="right arrow icon"></i>
            Formuler cette hypothèse
        </button>
    </a>
</div>

<script src="../socket.io/socket.io.js"></script>
<script>
    function CallHypothesis() {
        var socket = io.connect('http://localhost:8080');
        var HypoCallGetChar = document.getElementById("character");
        var HypoCallGetWeapon = document.getElementById("weapon");
        var HypoCallGetRoom = document.getElementById("room");

        var text_character = HypoCallGetChar.options[HypoCallGetChar.selectedIndex].text;
        var text_weapon = HypoCallGetWeapon.options[HypoCallGetChar.selectedIndex].text;
        var text_room = HypoCallGetRoom.options[HypoCallGetChar.selectedIndex].text;
        socket.on('connect', (data) => {
            socket.emit('Hypothesis', [text_character, text_weapon, text_room]);
        });
    }
</script>