
        <div class="suspect" id="suspect">
            <h1 class="titre">
                Suspect
            </h1>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Colonel Moutarde</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Professeur Violet</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Reverant Olive</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Mlle Rose</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Mme Pervenche</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Mme leblanc</label>
            </div>
        </div>

        <div class="armes" id="armes">
            <h1 class="titre">
                Armes
            </h1>
            <p>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">Chandelier</label>
                </div>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">clef à molette</label>
                </div>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">corde</label>
                </div>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">matraque</label>
                </div>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">poignard</label>
                </div>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">revolver</label>
                </div>
        </div>

        <div class="lieux" id="lieux">
            <h1 class="titre">
                Lieux
            </h1>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Bibliothèque</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Bureau</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Cuisine</label>
            </div></br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Hall</label></div> 
                </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">Salle à manger</label> 
            </div>
            </br>
            <div class="ui checkbox"> 
                <input type="checkbox" name="example"> 
                <label id="label">Salle de bal</label>
            </div>
            </br>
            <div class="ui checkbox"> 
                <input type="checkbox" name="example"> 
                <label id="label">Salle de billard</label>
            </div>
            </br>
            <div class="ui checkbox"> 
                <input type="checkbox" name="example"> 
                <label id="label">Salon</label>
            </div>
            </br>
            <div class="ui checkbox"> 
                <input type="checkbox" name="example"> 
                <label id="label">Serre</label>
            </div>
        </div>