
        <div class="suspect" id="suspect">
            <h1 class="titre">
                Suspect
            </h1>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">bobo - 1</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">bobo - 2</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">bobo - 3</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">bobo - 4</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">bobo - 5</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">bobo - 6</label>
            </div>
        </div>

        <div class="armes" id="armes">
            <h1 class="titre">
                Armes
            </h1>
            <p>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">arme - 1</label>
                </div>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">arme - 2</label>
                </div>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">arme - 3</label>
                </div>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">arme - 4</label>
                </div>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">arme - 5</label>
                </div>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label id="label">arme - 6</label>
                </div>
        </div>

        <div class="lieux" id="lieux">
            <h1 class="titre">
                Lieux
            </h1>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">lieux - 1</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">lieux - 2</label>
            </div>
            </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">lieux - 3</label>
            </div></br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">lieux - 4</label></div> 
                </br>
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label id="label">lieux - 5</label> 
            </div>
            </br>
            <div class="ui checkbox"> 
                <input type="checkbox" name="example"> 
                <label id="label">lieux - 6</label>
            </div>
            </br>
            <div class="ui checkbox"> 
                <input type="checkbox" name="example"> 
                <label id="label">lieux - 7</label>
            </div>
            </br>
            <div class="ui checkbox"> 
                <input type="checkbox" name="example"> 
                <label id="label">lieux - 8</label>
            </div>
            </br>
            <div class="ui checkbox"> 
                <input type="checkbox" name="example"> 
                <label id="label">lieux - 9</label>
            </div>
        </div>