<form action="" method="get" class="accusation">
    <div class="form">
        <label for="suspect">suspect</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div class="form">
        <label for="arme">arme</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div class="form">
        <label for="lieu">lieu</label>
        <input type="text" name="name" id="name" required>
    </div>
</form>