<link rel="stylesheet" href="/assets/css/custom-formulaire.css">


<form action="" method="get" class="accusation">
    <div class="formulaire">
        <label for="suspect">suspect</label>
        <input type="text" name="suspect" id="suspect" required="required">
    </div>
    <div class="formulaire">
        <label for="arme">arme</label>
        <input type="text" name="arme" id="arme" required="required">
    </div>
    <div class="formulaire">
        <label for="lieu">lieu</label>
        <input type="text" name="lieu" id="lieu" required="required">
    </div>
    <div class="formulaire">
        <input type="submit" value="Accusé!">
    </div>
</form>