<html>
    <head>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        <link rel="stylesheet" href="/assets/css/custom-header.css">
        <link rel="stylesheet" href="/assets/css/custom-footer.css">
        <link rel="stylesheet" href="/assets/css/custom-board.css">
        <link rel="stylesheet" href="/assets/css/custom-grid.css">
        <link rel="stylesheet" href="/assets/css/images-board.css">
    </head>
    <body>
        {% include 'header.twig' %}
        <div id="flex">
            <div id="width-board">
                <div id="div-board">
                    {% include 'board.twig' %}
                </div>
            </div>
            <div id="width-option">
                {% include 'player-option.twig' %}
            </div>
        </div>
        {% include 'footer.twig' %}
    </body>

</html>