<html>
    <head>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        <link rel="stylesheet" href="/assets/css/custom-header.css">
        <link rel="stylesheet" href="/assets/css/custom-footer.css">
        <link rel="stylesheet" href="/assets/css/custom-plateau.css">
        <link rel="stylesheet" href="/assets/css/custom-grid.css">
    </head>
    <body>
        {% include 'header.twig' %}

        {% include 'plateau.twig' %}

        {% include 'footer.twig' %}

        {% include 'grille.twig' %}
    </body>
</html>