<footer id="bottom-0">
    <div class="ui segment" id" margin-1"="id" margin-1""="margin-1" "">
        <div class="ui horizontal list" id="FlexRight">
            <div class="item">
                <button class="ui circular icon button" id="MyCustomButton-carte" onclick="myFunction('carte')">
                    <img class="ui avatar image" src="/assets/images/carte.png">
                </button>
            </div>
            <div class="item">
                <button class="ui circular icon button" id="MyCustomButton-tableau" onclick="myFunction('tableau')">
                    <img class="ui avatar image" src="/assets/images/tableau.png">
                </button>
            </div>
            <div class="item">
                <button class="ui circular icon button" id="MyCustomButton-accuse" onclick="myFunction('accuse')">
                    <img class="ui avatar image" src="/assets/images/accuse.png">
                </button>
            </div>
            <div class="item">
                <button class="ui circular icon button" id="MyCustomButton-accuse-fin" onclick="myFunction('accuse_fin')">
                    <img class="ui avatar image" src="/assets/images/accuse-fin.png">
                </button>
            </div>
        </div>
    </div>
</footer>