<footer id="bottom-0">
    <div class="ui segment" id" margin-1"="id" margin-1""="margin-1" "">
        <div class="ui horizontal list" id="FlexRight">
            <div class="item">
                <button class="ui circular icon button" id="MyCustomButton-dice" onclick="myFunction('dice')">
                    <img class="ui avatar image" src="/assets/images/dice.png">
                </button>
            </div>
            <div class="item">
                <button class="ui circular icon button" id="MyCustomButton-card" onclick="myFunction('card')">
                    <img class="ui avatar image" src="/assets/images/card.png">
                </button>
            </div>
            <div class="item">
                <button class="ui circular icon button" id="MyCustomButton-grid" onclick="myFunction('grid')">
                    <img class="ui avatar image" src="/assets/images/grid.png">
                </button>
            </div>
            <div class="item">
                <button class="ui circular icon button" id="MyCustomButton-hypothesis" onclick="myFunction('hypothesis')">
                    <img class="ui avatar image" src="/assets/images/hypothesis.png">
                </button>
            </div>
            <div class="item">
                <button class="ui circular icon button" id="MyCustomButton-accused" onclick="myFunction('accused')">
                    <img class="ui avatar image" src="/assets/images/accused.png">
                </button>
            </div>
        </div>
    </div>
</footer>