<body>
    <div class= i>
        <div class= g id=cache>
            <div id= suspect>
                <h1> Suspect</h1>
                <p> bob <input type="checkbox" id="scales" name="feature" /></P>
                <p> bob2 <input type="checkbox" id="scales" name="feature" /></P>
                <p> bob3 <input type="checkbox" id="scales" name="feature" /></P>
                <p> bob4 <input type="checkbox" id="scales" name="feature" /></P>
                <p> bob5 <input type="checkbox" id="scales" name="feature" /></P>
                <p> bob6 <input type="checkbox" id="scales" name="feature" /></P>
            </div>

            <div id = armes>
                <h1> Armes </h1>
                <p> arme1 <input type="checkbox" id="scales" name="feature" /></P>
                <p> arme2 <input type="checkbox" id="scales" name="feature" /></P>
                <p> arme3 <input type="checkbox" id="scales" name="feature" /></P>
                <p> arme4 <input type="checkbox" id="scales" name="feature" /></P>
                <p> arme5 <input type="checkbox" id="scales" name="feature" /></P>
                <p> arme6<input type="checkbox" id="scales" name="feature" /></P>
            </div>

            <div id= lieux>
                <h1> Lieux </h1>
                <p> lieu1<input type="checkbox" id="scales" name="feature" /></P>
                <p> lieu2<input type="checkbox" id="scales" name="feature" /></P>
                <p> lieu3<input type="checkbox" id="scales" name="feature" /></P>
                <p> lieu4<input type="checkbox" id="scales" name="feature" /></P>
                <p> lieu5<input type="checkbox" id="scales" name="feature" /></P>
                <p> lieu6<input type="checkbox" id="scales" name="feature" /></P>
                <p> lieu7<input type="checkbox" id="scales" name="feature" /></P>
                <p> lieu8<input type="checkbox" id="scales" name="feature" /></P>
                <p> lieu9<input type="checkbox" id="scales" name="feature" /></P>
            </div>
        </div>
    </div>
</body>

<script>
function myFunction() {
  var f= document.getElementById("cache");
  if(f.style.visibility==="visible"){
      f.style.visibility="hidden";
  }else{
      f.style.visibility="visible";
  }
}
</script>