<div class="ui segment" id="grey-back">
    <h3 id="StatusGame" class="ui center aligned header teal">
        Cluedo
    </h3>
</div>

<script src="../socket.io/socket.io.js"></script>
<script>
    //var socket = io.connect('http://localhost:8080');
    //var socket = io.connect('http://192.168.1.45:8080');
    var socket = io.connect('http://192.168.1.52:8080');

    socket.on('SetWinningPlayer', Winner => {
        $('#StatusGame').empty().prepend(Winner);
    });
</script>