<html>
    <head>
        <title>LOBBY</title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        <meta http-equiv="refresh" content="5">
    </head>
    <body>
        <div class="ui equal width center aligned padded grid">
            <div class="row">
                <div class="column">
                    <a href="/cluedo">
                        <button class="ui teal basic button">
                            <h1>JOUER</h1>
                        </button>
                    </a>
                    <h1 class="titre">Joueurs :</h1>
                    <ul id="ListPlayers" style="list-style : none;">
                        {% for ListOfPlayer in TableOFPlayer %}
                            {% if MyUuiD == ListOfPlayer %}
                                <li style="color: red;">{{ ListOfPlayer }}</li>
                            {% else %}
                                <li>{{ ListOfPlayer }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>