<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        <link rel="stylesheet" href="../../../public/css/button-start.css">
    </head>
    <body>
        <div class="ui equal width center aligned padded grid">
            <div class="row">
                <div class="column">
                    <a href="/cluedo">
                        <button class="ui teal basic button">
                            <h1>JOUER</h1>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>