{% for i in 0..24 %}
    <div id="ligne">
    {% for j in 0..24 %}
        {% if grid.grid[i][j] == "v" %}
        <button id="MyCustomButton" style="visibility: hidden">{{ grid.grid[i][j] }}</button>
        {% elseif grid.grid[i][j] == "m" %}
        <button id="MyCustomButton" style="background-color: orange">{{ grid.grid[i][j] }}</button>
        {% elseif grid.grid[i][j] == "A" or grid.grid[i][j] == "B" or grid.grid[i][j] == "C" or grid.grid[i][j] == "D" or grid.grid[i][j] == "E" or grid.grid[i][j] == "F" or grid.grid[i][j] == "G" or grid.grid[i][j] == "H" or grid.grid[i][j] == "I" %}
        <button id="MyCustomButton" style="background-color: lightgreen">{{ grid.grid[i][j] }}</button>
        {% else %}
        <button id="MyCustomButton">{{ grid.grid[i][j] }}</button>
        {% endif %}
    {% endfor %}
    </div> 
{% endfor %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>$( "button" ).click(function() {
$(window).load(location.href + window);
});</script>