<div class="i">
    <div class="g" id="carte">
        {% include 'container-option-player/carte.twig' %}
    </div>
    <div class="g" id="tableau" style="display : none">
        {% include 'container-option-player/tableau.twig' %}
    </div>
    <div class="g" id="accuse" style="display : none">
        {% include 'container-option-player/accuse.twig' %}
    </div>
    <div class="g" id="accuse_fin" style="display : none">
        {% include 'container-option-player/accuse_fin.twig' %}
    </div>
    <div class="g" id="des" style="display : none">
        {% include 'container-option-player/des.twig' %}
    </div>
</div>
<script>
    function myFunction(type) {
        var carte = document.getElementById("carte");
        var tableau = document.getElementById("tableau");
        var accuse = document.getElementById("accuse");
        var accuse_fin = document.getElementById("accuse_fin");
        var des = document.getElementById("des");

        carte.style.display = "none"; 
        tableau.style.display = "none";
        accuse.style.display = "none";
        accuse_fin.style.display = "none";
        des.style.display = "none";

        if (type === "carte") {
            carte.style.display = "block";
        } else if (type === "tableau") {
            tableau.style.display = "block";
        } else if (type === "accuse") {
            accuse.style.display = "block";
        } else if (type === "accuse_fin") {
            accuse_fin.style.display = "block";
        } else if (type === "des") {
            des.style.display = "block";
        }
    }

    function HypoCall() {
        var HypoCallGetChar = document.getElementById("character");
        var HypoCallGetWeapon = document.getElementById("weapon");
        var HypoCallGetRoom = document.getElementById("room");

        var text_character = HypoCallGetChar.options[HypoCallGetChar.selectedIndex].text;
        var text_weapon = HypoCallGetWeapon.options[HypoCallGetChar.selectedIndex].text;
        var text_room = HypoCallGetRoom.options[HypoCallGetChar.selectedIndex].text;

        console.log(text_character +" "+text_weapon +" "+text_room);
    }
</script>