<div class="buttons">
    <div id="hypothesis" style="display : none">
        {% include 'container-option-player/hypothesis.twig' %}
    </div>
    <div id="accused" style="display : none">
        {% include 'container-option-player/accused.twig' %}
    </div>
    <div id="dice" style="display : none">
        {% include 'container-option-player/dice.twig' %}
    </div>
    <div id="card">
        {% include 'container-option-player/card.twig' %}
    </div>
    <div id="grid" style="display : none">
        {% include 'container-option-player/grid.twig' %}
    </div>
</div>
<script>
    function myFunction(type) {
        var card = document.getElementById("card");
        var grid = document.getElementById("grid");
        var hypothesis = document.getElementById("hypothesis");
        var accused = document.getElementById("accused");
        var dice = document.getElementById("dice");

        card.style.display = "none"; 
        grid.style.display = "none";
        hypothesis.style.display = "none";
        accused.style.display = "none";
        dice.style.display = "none";

        if (type === "card") {
            card.style.display = "block";
        } else if (type === "grid") {
            grid.style.display = "block";
        } else if (type === "hypothesis") {
            hypothesis.style.display = "block";
        } else if (type === "accused") {
            accused.style.display = "block";
        } else if (type === "dice") {
            dice.style.display = "block";
        }
    }

    function HypoCall() {
        var HypoCallGetChar = document.getElementById("character");
        var HypoCallGetWeapon = document.getElementById("weapon");
        var HypoCallGetRoom = document.getElementById("room");

        var text_character = HypoCallGetChar.options[HypoCallGetChar.selectedIndex].text;
        var text_weapon = HypoCallGetWeapon.options[HypoCallGetChar.selectedIndex].text;
        var text_room = HypoCallGetRoom.options[HypoCallGetChar.selectedIndex].text;

        console.log(text_character +" "+text_weapon +" "+text_room);
    }
</script>