<div class="i">
    <div class="g" id="cache">
        <div id="suspect">
            <h1>
                Suspect</h1>
            <p>
                bob
                <input type="checkbox" id="scales" name="feature"/></p>
            <p>
                bob2
                <input type="checkbox" id="scales" name="feature"/></p>
            <p>
                bob3
                <input type="checkbox" id="scales" name="feature"/></p>
            <p>
                bob4
                <input type="checkbox" id="scales" name="feature"/></p>
            <p>
                bob5
                <input type="checkbox" id="scales" name="feature"/></p>
            <p>
                bob6
                <input type="checkbox" id="scales" name="feature"/></p>
        </div>

        <div id="armes">
            <h1>
                Armes
            </h1>
            <p>
                arme1
                <input type="checkbox" id="scales" name="feature"/></p>
            <p>
                arme2
                <input type="checkbox" id="scales" name="feature"/></p>
            <p>
                arme3
                <input type="checkbox" id="scales" name="feature"/></p>
            <p>
                arme4
                <input type="checkbox" id="scales" name="feature"/></p>
            <p>
                arme5
                <input type="checkbox" id="scales" name="feature"/></p>
            <p>
                arme6<input type="checkbox" id="scales" name="feature"/></p>
        </div>

        <div id="lieux">
            <h1>
                Lieux
            </h1>
            <p>
                lieu1<input type="checkbox" id="scales" name="feature"/></p>
            <p>
                lieu2<input type="checkbox" id="scales" name="feature"/></p>
            <p>
                lieu3<input type="checkbox" id="scales" name="feature"/></p>
            <p>
                lieu4<input type="checkbox" id="scales" name="feature"/></p>
            <p>
                lieu5<input type="checkbox" id="scales" name="feature"/></p>
            <p>
                lieu6<input type="checkbox" id="scales" name="feature"/></p>
            <p>
                lieu7<input type="checkbox" id="scales" name="feature"/></p>
            <p>
                lieu8<input type="checkbox" id="scales" name="feature"/></p>
            <p>
                lieu9<input type="checkbox" id="scales" name="feature"/></p>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var f = document.getElementById("cache");
        if (f.style.visibility === "visible") {
            f.style.visibility = "hidden";
        } else {
            f.style.visibility = "visible";
        }
    }
</script>