<div class="buttons">
    <div id="hypothesis" style="display : none">
        {% include 'container-option-player/hypothesis.twig' %}
    </div>
    <div id="accused" style="display : none">
        {% include 'container-option-player/accused.twig' %}
    </div>
    <div id="dice" style="display : none">
        {% include 'container-option-player/dice.twig' %}
    </div>
    <div id="card">
        {% include 'container-option-player/card.twig' %}
    </div>
    <div id="grid" style="display : none">
        {% include 'container-option-player/grid.twig' %}
    </div>
    <div id="card_exchange" style="display : none">
        {% include 'container-option-player/card_exchange.twig' %}
    </div>
</div>
<script>
    function ChangeDisplayMenu(type) {
        var card = document.getElementById("card");
        var grid = document.getElementById("grid");
        var hypothesis = document.getElementById("hypothesis");
        var accused = document.getElementById("accused");
        var dice = document.getElementById("dice");
        var card_exchange = document.getElementById("card_exchange");

        card.style.display = "none"; 
        grid.style.display = "none";
        hypothesis.style.display = "none";
        accused.style.display = "none";
        dice.style.display = "none";
        card_exchange.style.display = "none";

        if (type === "card") {
            card.style.display = "block";
        } else if (type === "grid") {
            grid.style.display = "block";
        } else if (type === "hypothesis") {
            hypothesis.style.display = "block";
        } else if (type === "accused") {
            accused.style.display = "block";
        } else if (type === "dice") {
            dice.style.display = "block";
        } else if (type === "card_exchange") {
            card_exchange.style.display = "block";
        }
    }
</script>