<html>
    <head>

    </head>

    <body>
        <h2>Comment jouer ?</h2>
        <p>La partie commence chaque joueur est placé sur sa case de départ. Le premier joueur lance les deux dés et avance dans le couloir d’autant de cases que son score le lui permet. L’objectif est d’entrer dans une des pièces du manoir pour pouvoir enquêter. Une fois dans une pièce il ne peut plus bouger même si son score aux dés lui permettrait de ressortir. Au prochain tour, il pourra ressortir par la porte de son choix et ainsi se diriger vers la partie du manoir où il souhaite enquêter.</p>
        <p>Quand vous êtes dans une pièce vous pouvez formuler une hypothèse. C’est-à-dire annoncer aux autres joueurs un suspect, une arme du crime et le nom de la pièce ou vous vous trouver. Il est possible de choisir n’importe quel personnage ou n’importe quelle arme et ce, même si l’on possède la carte en main.</p>
        <p>Par exemple si vous vous trouvez dans la cuisine vous pouvez émettre cette hypothèse : « Je pense que c’est le Docteur Olive avec le revolver, dans la cuisine.» Si un des autres joueurs possède une des cartes de votre hypothèse il doit vous la montrer. Il est obligé de vous la montrer, il ne peut pas mentir. Ainsi vous pouvez rayer une arme, un lieu ou un suspect et vous rapprocher de la résolution de l’énigme.</p>
        <p>Chaque fois qu’un joueur entre dans une pièce il peut lancer une hypothèse. Lorsqu’un joueur pense avoir trouvé la réponse de l’énigme, il doit formuler son accusation. Il choisit le lieu du meurtre, l’arme du crime et l’assassin, puis l'accusation est vérifié. Attention, vous ne pouvez faire qu’une seule accusation par partie.</p>
        <ul>
            <li>Si le joueur à raison, il annonce les trois cartes de l’énigme aux autres joueurs. Ainsi, la partie se termine et le joueur est déclaré vainqueur</li>
            <li>Si le joueur a tort,la partie continue pour les autres joueurs. Le joueur qui s’est trompé est hors du jeu (il ne peut plus faire ni d’hypothèses, ni d’accusation).</li>
        </ul>
        <h2>Comment gagner au Cluedo</h2>
        <p>Pour gagner au Cluedo, il vous faut résoudre l’enquête en premier en découvrant les trois cartes placées dans l’étui à énigme. Il faut savoir que vous pouvez lancer une accusation à n’importe quel tour du jeu dans une pièce.</p>
    </body>

</html>