<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    </head>
    <body>
        <div class="ui equal width center aligned padded grid">
            <div class="row">
                <div class="column"></div>
            </div>
        </div>

    </body>
    <script src="../socket.io/socket.io.js"></script>
    <script src="assets/js/socket_client.js"></script>
</html>